* {
  background-color: #282828;
  color: #d4be98;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Inconsolata Nerd Font;
  font-size: 22px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin: 0px 4px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  color: green
}


/* All other modules - consistent spacing */
#tray,
#cpu,
#backlight,
#pulseaudio,
#network,
#battery,
#power-profiles-daemon
#bluetooth {
  min-width: 12px;
  margin: 0px 12px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#power-profiles-daemon.balanced {
    color: yellow
}

#power-profiles-daemon.performance {
  color: red
}
